* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: #2a75bb;
}

.btn-dark {
    width: 300px;
    max-width: 100%;
    margin: 8px;
}

ul {
    list-style-type: none;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    height: 72vh;
    overflow: auto;
    border-bottom: 4px solid lightgray;
    border-top: 4px solid lightgray;
}

footer-text {
    padding: 24px;
}